/* Styles for simple-travel-site */

    /* Styles for body */
    body {
        height: 100vh;
    }
    /* END OF: Styles for body */
    
    /* Styles for Header and Navigation */

    /* centered header text */
    header {
        text-align: center;
    }

    /* added margin 10px top and bottom and 2% left and right nav links */
    nav a {
        margin: 10px 2%;
    }

    /* removed default link blue color to all a tags */
    a {
        color: inherit;
        text-decoration: none;

    }

    /* added blue hover to links when hovering over all links */
    a:hover {
        color: blue;
    }

    /* END OF: Styles for Header and Navigation */


    /* Styles for MAIN section */

    /* added 10% top and bottom margin and 2% left and right margin to .para div wrapped around both p elements */
    .para {
        margin: 10% 2%;
    }

    /* 15% top margin added specifically to p elements */
    p {
        margin-top: 15%;
    }

    /* Made .img div flex and centered as well as added wrap to images and 25% top/bottom margin and 3% left/right margin */
    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 25% 3%;
    }
    
    /* Added 2% margin all around each image */
    img {
        margin: 2%;
    }

    /* END OF: Styles for MAIN section */


    /* Styles for contact info Table */

    /* Made .table display flex and centered table*/
    .table {
        display: flex;
        justify-content: center;
    }

    /* added border around table made table flex and centered table*/
    table {
        border: 1px solid black;
    }

    /* centered h3 element */
    h3 {
        text-align: center;
    }
    /* End OF: centered h3 element */

    /* added 5% padding around and bottom border to Table header */
    th {
        border-bottom: 1px solid black;
        padding: 5px;
    }

    /* added 5% padding around and border fully around Table data*/
    td {
        border: 1px solid black;
        padding: 5px;
    }

    /* END OF: Styles for contact info Table */


/* END OF STYLES */