header {
    text-align: center;
}

nav a {
    margin: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: blue;
}

main {
    margin-top: 25%;
}

p {
    margin-top: 15%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
